{% extends "layout.html" %}
{%load static%}
{%block body%}

<main>
    <section id="products">
        <div class="title box-shadow d-flex align-center gap-1">
            <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="30" height="30" fill="url(#pattern0_63_5)" />
                <defs>
                    <pattern id="pattern0_63_5" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_63_5" transform="scale(0.0111111)" />
                    </pattern>
                    <image id="image0_63_5" width="90" height="90"
                        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAACFElEQVR4nO3dQW4TQRSE4bci3AGOSOAYMReDsCLcAcIaOfsfjdyRIkuk8eiNu2tefUtrFuVSeyy90XRHmJnNB3gDfAYegV/AYflM5XoZ7YucO6hcL6OtnHO/Va6X0X6e536qXC/jHz/VO5XrZbQ/n0NbSf/7ZzXN9WZmZmYFAW+BT8A34Al9T8A98BG4iRkA74Ef7NfD8h1nWMl7Lvll2eNWdrtdVHE7sujlnlzF15FFH6njOLLoUsJFX4eLvpLMW8GlDzpLiaTe1jzoLCWSelvzoLOUSOptzYPOUiKptzUPOkuJpN7WPOgsJZJ6u9gWobemmFkyNIKZJUMjmFkyNIKZJUMjmFkyNNVmHTFIuVlHDFJu1hGDlJt1xCDlZh0xSLlZRwyyRWbPOnayOCRDI5hZMjSCmSVDI5hZMjSCmSVDM0Nmzzpel9WbZx0dWb151tGR1ZtnHR1ZvXnW0ZHVm2cdHVm9XWyL0FtTzCwZGsHMkqERzCwZGsHMkqERzCwZmhky+x2W12X15ndYOrJ68zssHVm9+R2Wjqze/A5LR1ZvfoelI6u3i1FMjEIx4aL3X3SljVH+jCzaW/1cQ9sXrooPI4u+aVuV7d334XtMtw0GH3Ze8ruYQVvZt8uWZTv5gzwCX5bbxfCVbGZmZjaX2U5zw6e/nfj0t5VmO80Nn/524tPfVprtNDd8+tuJT38zM4tnfwEFwTX0W9q5/QAAAABJRU5ErkJggg==" />
                </defs>
            </svg>
            <h2>Processadores</h2>
        </div>
        <ul class="product-list">
            {% for product in products %}

            <li class="product">
                <div class="img-container ">
                    <img src="../static/i5-12400f.png" alt="">

                </div>
                <div class="add-button" id={{product.id}} onclick="addOrderItem(event)">
                    <div class="effect-obj"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15 " height="15" fill="#fff"
                        class="bi bi-cart-fill pointer-events-none" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                    <span class="z-index-2 pointer-events-none">Adicionar</span>

                </div>
                <p class="p-data ">
                    <span>{{product.name}}</span> <br>
                    <span class="fw-l">R${{product.price}}</span>
                </p>
            </li>

            {% endfor %}
        </ul>
    </section>
</main>

<script src="{% static 'app/js/cart.js' %}"></script>

<script>
    async function addOrderItem(event) {
        let productId = event.target.id
        const itemAdded = await addToCartFetch(productId)
        console.log(itemAdded)

        
    }

    async function getUserSessionId() {
        const response = await fetch("/get_user_session", {
            method: "GET",
            mode: "cors",
        });
        const data = await response.json();
        return data;

    }

   
</script>
{%endblock%}