* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #3a3a3a;
}

nav {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 1.5rem 5rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-shadow {
    box-shadow: #00000040 0px 4px 8px 0px;
}

header h1 {
    color: #fff;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}


header ul li a {
    color: #4DA8FF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

section {
    margin-top: 140px;
}

.title {
    background: linear-gradient(90deg, #1a1a1a, #040404);
    padding: 1rem 5rem;
    color: #fff;
    margin-top: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
    top: 0;
}

.main-content {
    height: calc(100vh - 140px);
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 1.2rem;
}

.gap-3 {
    gap: 1.5rem
}

.gap-4 {
    gap: 2rem
}

.color-blue {
    color: #4DA8FF
}

.dark-bg {
    background-color: #383838;
}

h2 {
    font-size: 1.2rem;

}

.pointer-events-none {
    pointer-events: none;
}

.how-many-cart-itens {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    left: 12px;
}

.how-many-cart-itens span.value {
    color: #4DA8FF;
    font-size: .7rem;
    font-weight: bold;

}

section#products .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    padding: 1rem 1rem 2rem 5rem;
    gap: 1rem;

}

section#products .product-list .product {
    border-radius: 10px;
    min-height: 200px;
    width: 150px;
    margin-bottom: 2rem;

}

section#products .product-list .product .img-container {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
    background: #9b9b9b;
    overflow: hidden;
}

section#products .product-list .product .img-container img {
    width: 100%;

}

section#products .product-list .product .add-button {
    background-color: #1a1a1a;
    width: 100%;
    height: 40px;
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1rem;
}

section#products .product-list .product .add-button span {
    font-size: .8rem;
}

.add-button .effect-obj {
    width: 0px;
    height: 0px;
    position: absolute;
    transition: all ease .3s;
    border-radius: 50%;
    pointer-events: none;
}

.add-button:hover .effect-obj {
    width: 70px;
    height: 70px;
    transform: scale(3);
    background-color: #2e2e2e;
    position: absolute;
}

.add-button svg {
    position: relative;
    top: -2px;
}

.confirm-modal-button {
    background: #4DA8FF;
    padding: 1rem 2rem;
    z-index: 5;
    position: absolute;
    bottom: 50px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease .2s;
    width: 500px;
}

.add-payment-button:hover {
    background: #3b89d3;
}

section#products .product-list .product .p-data {
    color: #fff;
    font-weight: bold;
    font-size: .8rem;
    text-align: center;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.cart-table {
    font-size: 1rem;

}

.cart-table-tr {
    display: grid;
    grid-template-columns: 250px 120px 100px;

}

.cart-table-tr.head {
    border-bottom: 1px solid #7b7b7b50;
}

.cart-table-tr.bottom {
    border-top: 1px solid #7b7b7b50;
    padding-top: 1rem;
}

.cart-table-tr.bottom td {
    font-weight: bold;
}

.cart-table-tr th {
    margin-bottom: 1.5rem;
    color: #fff;
    font-weight: 300;

}

.cart-table tbody tr:nth-child(1) {
    margin-top: 1.5rem;
}

.cart-table-tr td {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 300;

}

.item-name-td {
    display: flex;
    align-items: center;
    gap: 20px;
}

.align-left {
    text-align: left !important;
}

.counter {
    background-color: #272727;
    padding: 6px 10px;
    border-radius: 5px;
    position: relative;
}

.counter-btn {
    position: absolute;
    cursor: pointer;
    background: transparent;
    transition: all ease .5s;
    border-radius: 50%;
    width: 17px;
    height: 17px;

}

.counter-btn:hover {
    background: #5e5e5e;
}


.counter-btn.decrease {
    left: -20px;
}

.counter-btn.increase {
    right: -20px;
}

.cart-img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

.container {
    padding: 1.5rem 5rem;
}

.options {

    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.payment,
.adress,
.buy {
    width: 100%;
}


.options h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;

}

.input-container {
    position: relative;
    width: 100%;
}

.checkout-input {
    border: 1px solid #747474;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    padding: .8rem 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all ease .3s;
    width: 100%;
    position: relative;
    resize: none;

}


.checkout-input:hover {
    background: #b4b4b450
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
    pointer-events: none;
}

.input-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2.5rem;
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
    pointer-events: none;
}

.buy-button {
    border: 1px solid #67b3fa;
    color: #fff;
    background-color: #4DA8FF;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #3989d4;
}

.buy-button:hover #buy-button-abled-icon {
    animation: iconAnimate .5s linear
}

.buy-button.disabled {
    border: 1px solid #646464;
    color: #646464;
    background-color: transparent;
}

.options h2 {
    color: #fff;
    text-align: left;
    align-self: flex-start;
}

.modal-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;

}

.modal-container .backdrop {
    width: 100%;
    height: 100%;
    background: #00000080;
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 4;
}

.modal {
    background-color: #3a3a3a;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    margin-bottom: 5rem;
    padding: 2rem 2rem 8rem 2rem;
}

.visual-card-bar {
    height: 60px;
    width: 100%;
    background: linear-gradient(90deg, #535353, #383838 60%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px
}

.modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-container .modal-header div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.modal-container .fill-modal-data {
    border: 1px solid #b4b4b4;
    background: transparent;
    color: #fff;
    border-radius: 8px;
    padding: .2rem 1rem;
    cursor: pointer;
}

.modal-container .fill-modal-data:hover {
    background: #b4b4b450;
}

.close-card-modal {
    cursor: pointer;
}

.modal-body {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #fff;
    flex: 1;
}

input:focus {
    outline: 1px solid #2071bd;
}


.modal-container .card-input {
    border: 0;
    border-bottom: 1px solid #727272;
    background-color: transparent;
    padding: .5rem .5rem .5rem .2rem;
    color: #fff;
    font-weight: 300;
}

.label-payment-method {
    COLOR: #a1a1a1;
}

.selected-radio {
    color: #4DA8FF;
}


.edit-field-button {
    border: 0;
    background: transparent;
    color: #b3b3b3;
    cursor: pointer;
    align-self: center;
    display: none;
    line-height: 25px;
}

.edit-field-button:hover {
    color: #fff;

}



@media screen and (max-width:490px) {
    header {
        padding: 1.5rem 2rem;
    }

    header li a[href="/cart"] {
        display: none;
    }

    section {
        padding: 0 1rem;
    }

    section#products .product-list {
        padding: 5rem 0 5rem 0;
        justify-content: center;
    }



}

.fw-l {
    font-weight: 400;
}

@keyframes iconAnimate {
    50% {
        transform:  scale(1.2);
        

    }

    100% {
        transform:  scale(1); 
     
    }
}